@model TableActiveViewModel
@{
    ViewData["Title"] = "Tables";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

<link href="~/css/sb-admin-2.min.css" rel="stylesheet">
<link href="~/css/Style.css" rel="stylesheet">
<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>Список клієнтів з їхнім статусом</h1>

@await Html.PartialAsync("_SearchData", Model.Filter)


<div class="card shadow mb-4">
    <div class="card-body">
        @*<div class="row">

        </div>*@
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                       aria-describedby="dataTable_info" style="width: 100%;">
                    <t>
                        <tr>
                            <th rowspan="1" colspan="1">№</th>
                            <th rowspan="1" colspan="1">Ім'я</th>
                            <th rowspan="1" colspan="1">Фамілія</th>
                            <th rowspan="1" colspan="1">Адрес</th>
                            <th rowspan="1" colspan="1">Телефон</th>
                            <th rowspan="1" colspan="1">Час</th>
                            <th rowspan="1" colspan="1">Статус</th>
                        </tr>
                    </t>
                    <tbody>
                        @foreach (var item in Model.ListActiveElement)
                        {
                            <tr role="row" class="odd">
                                <td>@(Model.ListActiveElement.IndexOf(item) + 1)</td>
                                <td class="sorting_1">@item.Name</td>
                                <td>@item.Surname</td>
                                <td>@item.Adress</td>
                                <td>@item.Phone</td>
                                <td>@item.OrderTime</td>
                                <td>
                                    @if (item.IsActive == false)
                                    {
                                        <form asp-controller="Admin" asp-action="SetActive" method="post">
                                            <input type="hidden" value="@item.Id" name="id" />
                                            <button class="btn-danger">
                                                <span class="btn-gradient">
                                                    <i class="fa fa-warning"></i>
                                                </span>
                                                <span class="btn-text">Начерзі</span>
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <button class="btn-green">
                                            <span class="btn-gradient">
                                                <i class="fa fa-check"></i>
                                            </span>
                                            <span class="btn-text">Виконано</span>
                                        </button>

                                    }
                                </td>
                            </tr>
                        }
                </table>
            </div>
        </div>
        <nav>
            <ul class="pagination">
                @{int page = Model.Page; }
                <li class="page-item @(page == 1? "disabled":"")">
                    <a class="page-link" asp-action="TablesActive" asp-controller="Admin"
                       asp-route-page="@(page - 1)" asp-route-name="@Model.Filter.Name" tabindex="-1">Previous</a>
                </li>
                @for (int i = 1; i < Model.MaxPage + 1; i++)
                {
                    <li class="page-item @(page == i ? "active": "" )">
                        <a class="page-link" asp-action="TablesActive" asp-controller="Admin"
                           asp-route-page="@i" asp-route-name="@Model.Filter.Name">@i <span class="sr-only">(current)</span></a>
                    </li>
                }
                <li class="page-item @(page == Model.MaxPage? "disabled":"")">
                    <a class="page-link" asp-action="TablesActive" asp-controller="Admin" asp-route-page="@(page+1)"
                       asp-route-name="@Model.Filter.Name">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/js/sb-admin-2.min.js"></script>
<script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="~/js/demo/datatables-demo.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>