@model TableActiveViewModel
@{
    ViewData["Title"] = "Tables";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

<link href="~/css/sb-admin-2.min.css" rel="stylesheet">
<link href="~/css/Style.css" rel="stylesheet">
<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>Список клієнтів з їхнім статусом</h1>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="dataTable_length">
                    <label>
                        Показати <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div id="dataTable_filter" class="dataTables_filter">
                    <label>
                        Search: <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable">
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                       aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                style="width: 40px;">
                                №
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                style="width: 100px;">
                                Ім'я
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="Position: activate to sort column ascending" style="width: 100px;">
                                Фамілія
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="Office: activate to sort column ascending" style="width: 169px;">
                                Адрес
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="Age: activate to sort column ascending" style="width: 31px;">
                                Телефон
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="Start date: activate to sort column ascending" style="width: 69px;">
                                Час
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="Start date: activate to sort column ascending" style="width: 69px;">
                                Статус
                            </th>
                        </tr>
                    </thead>
                    @*<tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">№</th>
                                <th rowspan="1" colspan="1">Ім'я</th>
                                <th rowspan="1" colspan="1">Фамілія</th>
                                <th rowspan="1" colspan="1">Адрес</th>
                                <th rowspan="1" colspan="1">Телефон</th>
                                <th rowspan="1" colspan="1">Час</th>
                            </tr>
                        </tfoot>*@
                    <tbody>
                        @foreach (var item in Model.listActiveElement)
                        {
                            <tr role="row" class="odd">
                                <td>@(Model.listActiveElement.IndexOf(item) + 1)</td>
                                <td class="sorting_1">@item.order.name</td>
                                <td>@item.order.surname</td>
                                <td>@item.order.adress</td>
                                <td>@item.order.phone</td>
                                <td>@item.order.orderTime</td>
                                <td>
                                    @if (item.IsActive == false)
                                    {
                                        <form asp-controller="Admin" asp-action="SetActive" method="post">
                                            <input type="hidden" value="@item.order.id" name="id" />
                                            <button class="btn-danger">
                                                <span class="btn-gradient">
                                                    <i class="fa fa-warning"></i>
                                                </span>
                                                <span class="btn-text">Начерзі</span>
                                            </button>
                                        </form>
                                        @*<input type="hidden" value="@item.order.id" name="id" />
                                            <button class="btn-danger">
                                                <span class="btn-gradient">
                                                    <i class="fa fa-warning"></i>
                                                </span>
                                                <span class="btn-text">Начерзі</span>
                                            </button>*@
                                    }
                                    else
                                    {
                                        @*<p> Готово <i class="fas fa-bolt fa-3x amber-text pr-3" aria-hidden="true"></i></p>
                                                                        <i class="fas fa-badge-check"></i>
                                                                            <i class="fas fa-exclamation-square"></i>
                                                                            <i class="fas fa-badge-check"></i>
                                            <h1><span class="label label-default">Готово</span></h1>
                                                                        <button type="button" class="btn btn-labeled btn-success">
                                                                            <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Готово
                                                                        </button>*@

                                        <button class="btn-green">
                                            <span class="btn-gradient">
                                                <i class="fa fa-check"></i>
                                            </span>
                                            <span class="btn-text">Виконано</span>
                                        </button>

                                    }
                                </td>
                            </tr>
                        }
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                            <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                Previous
                            </a>
                        </li>
                        <li class="paginate_button page-item active">
                            <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">
                                1
                            </a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">
                                2
                            </a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">
                                3
                            </a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">
                                4
                            </a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">
                                5
                            </a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">
                                6
                            </a>
                        </li>
                        <li class="paginate_button page-item next" id="dataTable_next">
                            <a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">
                                Next
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/js/sb-admin-2.min.js"></script>
<script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="~/js/demo/datatables-demo.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>